/* Minimos Device Styles */

/* sm -- */
@media only screen and (max-width: 719px) {
	.debug { border-top : 5px solid orange; }
}

/* xs */
@media only screen and (max-width: 539px) {
	.debug { border-top : 5px solid red; }
}

/* md ++ */
@media only screen and (min-width: 720px) {
	.debug { border-top : 5px solid yellow; }

	/* grid setup */
  .grid {
		display : grid;
		grid-template-columns: repeat(12, 1fr);
	}

	.grid-10 {
		display : grid;
		grid-template-columns: repeat(10, 1fr);
	}

	/* alignment */
  .align-left {
    float : left;
    margin : 0 1vmax .5vmax 0;
  }

  .align-right {
    float : right;
    margin : 0 0 .5vmax 1vmax;
  }

  .align-center {
    display : block;
    margin : 0 auto .5vmax auto;
  }

	/* form helpers */
	.input-xs { width : 2vmax; }
  .input-sm { width : 3vmax; }
  .input-md { width : 7vmax; }
  .input-lg { width : 15vmax; }
  .input-xl { width : 100%; }

}

/* lg ++ */
@media only screen and (min-width: 960px) {
	.debug { border-top : 5px solid green; }
}

/* xl */
@media only screen and (min-width: 1200px) {
	.debug { border-top : 5px solid blue; }
}

/* print */
@media only print {

}
