/* Minimos Device Styles */

/* sm -- */
@media only screen and (max-width: 719px) {
	.debug { border-top : 5px solid orange; }
}

/* xs */
@media only screen and (max-width: 539px) {
	.debug { border-top : 5px solid red; }
}

/* md ++ */
@media only screen and (min-width: 720px) {
	.debug { border-top : 5px solid yellow; }

  .grid 		{ display : grid; }
  .grid-10 	{ display : grid; grid-template-columns: repeat(10, 1fr); }
  .grid-12 	{ display : grid; grid-template-columns: repeat(12, 1fr); }
}

/* lg ++ */
@media only screen and (min-width: 960px) {
	.debug { border-top : 5px solid green; }
}

/* xl */
@media only screen and (min-width: 1200px) {
	.debug { border-top : 5px solid blue; }
}

/* print */
@media only print {

}
